<footer>
    <div class="footer_icon">
        <%= link_to("http://bokunatsu.com/") do %>
            <i class="fas fa-laptop"></i>
        <% end %>
        <%= link_to("https://www.facebook.com/bokunatsu.pj") do  %>
            <i class="fab fa-facebook-square"></i>
        <% end %>
        <%= link_to("https://twitter.com/bokunatsu_pj") do  %>
            <i class="fab fa-twitter"></i>
        <% end %>
        <%= link_to("https://www.instagram.com/bokunatsu/") do %>
            <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to("https://www.youtube.com/user/bokunatsupj") do %>
            <i class="fab fa-youtube"></i>
        <% end %>
        

    </div>
        <ul>
        <li>
            <%= link_to "・プライバシーポリシー", home_top_path %>
        </li>
        <li>
            <%= link_to "・サイトポリシー",home_top_path %>
        </li>
        <li>
             <%= link_to "・お問い合わせ",home_top_path %>
        </li>
    </ul>
</footer>