<div class="show_block">
    <div class="show_main_block"> 
       <%= image_tag "show_background_mizutama",class:"show_background_mizutama" %>
        <div class="member_profile_block">
            <div class="profile_image">
                <%= image_tag attachment_url(member,:profile_image, :fill, 300, 300 ,fallback: "no_image.png") %>
            </div>
            <div class="name_block">
                <p class="nickname">
                    <%= member.nickname %>
                </p>
                <p class="name">
                    <%= member.name %>| <%= member.name_kana %>
                </p>
            </div>
            <div class="colledge_block">
                <p>
                    <%= member.university.name %><%= member.faculty %>
                </p>
                <p>
                    <%= link_to  member.branches_members.first.university_branch.name, member.branches_members.first.university_branch.twitter_link %>
                </p>
                <p>
                    僕夏<%= member.grade.number %>年目
                </p>
            </div>
            <div class="career_block">
                <p>
                   <%= member.history %>
                </p>
            </div>
            <div class="clearfix">
                <div class="smile">
                    <div class="give_smile_block">
                        <p>
                           <%= member.objective %>
                        </p>
                    </div>
                    <div class="smile_block">
                        <p>
                            誰にどんな笑顔を届けたい？
                        </p>
                    </div>
                </div>
                <div class="reason">
                    <div class="join_reson_block">
                        <p>
                            <%= member.deciding_factor %>
                        </p>
                    </div>
                    <div class="join_reason">
                        <p>
                            入会のきっかけは？
                        </p>
                    </div>
                </div>
                 
            </div>
            <div class="personality">
                <div class="personalities_block">
                    <p>
                        <% member.personalities.each do |per| %>
                            ・<%= per.content_name %>
                        <% end %>
                    </p>
                </div>
                <div class="pesonalities">
                    <p>私ってこんな人</p>
                </div>
            </div>
                
            
        </div>
    </div>
</div>
