<div class="show_block">
    <div class="show_main_block_secound"> 
       <%= image_tag "show_background_mizutama",class:"show_background_mizutama" %>
        <div class="member_profile_block">
            <div class="profile_image">
                <%= image_tag "yu" %>
            </div>
            <div class="name_block">
                <p class="nickname">
                    ゆうだい
                </p>
                <p class="name">
                    いしつ雄大| イシツユウダイ
                </p>
            </div>
            <div class="colledge_block">
                <p>
                    東洋大学支部
                </p>
                <p>
                    東洋大学文学部
                </p>
                <p>
                    僕夏4年目
                </p>
            </div>
            <div class="career_block">
                <p>
                   2017年春、僕夏に入会。会計係として活躍。
                    2年目は東洋大学支部長として活動し、
                    3年目は実行委員長として僕夏メンバーの指揮を取る。
                </p>
            </div>
            <div class="clearfix">
                <div class="smile">
                    <div class="give_smile_block">
                        <p>
                            自己肯定感の低い子に、自分らしさに自信を持てるようになってもらいたい
                        </p>
                    </div>
                    <div class="smile_block">
                        <p>
                            誰にどんな笑顔を届けたい？
                        </p>
                    </div>
                </div>
                <div class="reason">
                    <div class="join_reson_block">
                        <p>
                            3日間の交流であまり深く関われなかった子も、最終日に「また会おうね」って言ってくれたこと。
                        </p>
                    </div>
                    <div class="join_reason">
                        <p>
                            活動の中での一番の出会いや発見は？
                        </p>
                    </div>
                </div>
                 
            </div>
            <div class="personality">
                <div class="personalities_block">
                    <p>
                        ・ONE PIECE ・漢方 ・ハンバーグ ・アベンジャーズ
                        ・アンケート修正 ・一人暮らし
                    </p>
                </div>
                <div class="pesonalities">
                    <p>私ってこんな人</p>
                </div>
            </div>
            <div class="bokunatsu_links">
                <div class="link_block">
                    <p>
                        <%= link_to "・2019年度夏企画を振り返って","http://bokunatsu.com/2019/09/12/miyako2019/" %>
                        <%= link_to "・実行委員長として目指すもの", "http://bokunatsu.com/2019/09/11/hunakoshi2019/"%>
                    </p>
                </div>
                <p class="link_name">「僕夏・ことば」の私</p>
            </div>
            <div class="other_links">
                <div class="link_block">
                    <p>
                        <%= link_to "・note","https://note.com/daichi_tennis" %>
                    </p>
                </div>
                <p class="link_name">「他の場面/場所」の私</p>
            </div>    
            
        </div>
    </div>
</div>
